In [7]:
import yfinance as yf

stock_data = yf.download("LLY",start="2023-01-01",end="2024-02-29",progress=False)

In [8]:
stock_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,366.260010,369.000000,361.459991,364.989990,360.792633,2006700
2023-01-04,364.640015,367.119995,360.339996,363.100006,358.924438,1886200
2023-01-05,360.950012,361.489990,352.959991,358.920013,354.792450,2008500
2023-01-06,360.000000,366.700012,357.579987,362.940002,358.766235,2131300
2023-01-09,364.000000,364.970001,348.790009,349.829987,345.807037,2980600
...,...,...,...,...,...,...
2024-02-22,763.580017,775.119995,756.270020,769.640015,769.640015,3167400
2024-02-23,774.000000,777.650024,762.260010,769.539978,769.539978,2394800
2024-02-26,771.299988,780.219971,769.119995,771.919983,771.919983,2243800
2024-02-27,754.900024,772.950012,745.440002,765.000000,765.000000,2716700
2024-02-28,762.250000,763.000000,751.659973,757.640015,757.640015,2716300