# PySUS Tests for Dev
#### Reference: https://pysus.readthedocs.io/en/latest/index.html

In [2]:
from pysus.online_data.SIA import download, show_datatypes
from pysus.online_data import parquets_to_dataframe

### Listing SIA (Sistema de Informação Ambulatorial)

In [3]:
show_datatypes()

{'AB': ('APAC de Cirurgia Bariátrica', 1, 2008),
 'ACF': ('APAC de Confecção de Fístula', 1, 2008),
 'AD': ('APAC de Laudos Diversos', 1, 2008),
 'AM': ('APAC de Medicamentos', 1, 2008),
 'AMP': ('APAC de Acompanhamento Multiprofissional', 1, 2008),
 'AN': ('APAC de Nefrologia', 1, 2008),
 'AQ': ('APAC de Quimioterapia', 1, 2008),
 'AR': ('APAC de Radioterapia', 1, 2008),
 'ATD': ('APAC de Tratamento Dialítico', 1, 2008),
 'BI': ('Boletim de Produção Ambulatorial individualizado', 1, 2008),
 'PA': ('Produção Ambulatorial', 7, 1994),
 'PS': ('RAAS Psicossocial', 1, 2008),
 'SAD': ('RAAS de Atenção Domiciliar', 1, 2008)}

In [4]:
## Get Producao Ambulatorial
AM = download('SP', 2020, 12, group='AM')   # Some large datasets are split in more than one DBC
dfAM = parquets_to_dataframe(AM)

In [5]:
dfAM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840907 entries, 0 to 840906
Data columns (total 51 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   AP_MVM      840907 non-null  string
 1   AP_CONDIC   840907 non-null  string
 2   AP_GESTAO   840907 non-null  string
 3   AP_CODUNI   840907 non-null  string
 4   AP_AUTORIZ  840907 non-null  string
 5   AP_CMP      840907 non-null  string
 6   AP_PRIPAL   840907 non-null  string
 7   AP_VL_AP    840907 non-null  string
 8   AP_UFMUN    840907 non-null  string
 9   AP_TPUPS    840907 non-null  string
 10  AP_TIPPRE   840907 non-null  string
 11  AP_MN_IND   840907 non-null  string
 12  AP_CNPJCPF  840907 non-null  string
 13  AP_CNPJMNT  840907 non-null  string
 14  AP_CNSPCN   840907 non-null  string
 15  AP_COIDADE  840907 non-null  string
 16  AP_NUIDADE  840907 non-null  string
 17  AP_SEXO     840907 non-null  string
 18  AP_RACACOR  840907 non-null  string
 19  AP_MUNPCN   840907 non-null  string
 20  AP_UFNACIO  840907 non-null  string
 21  AP_CEPPCN   840907 non-null  string
 22  AP_UFDIF    840907 non-null  string
 23  AP_MNDIF    840907 non-null  string
 24  AP_DTINIC   840907 non-null  string
 25  AP_DTFIM    840907 non-null  string
 26  AP_TPATEN   840907 non-null  string
 27  AP_TPAPAC   840907 non-null  string
 28  AP_MOTSAI   840907 non-null  string
 29  AP_OBITO    840907 non-null  string
 30  AP_ENCERR   840907 non-null  string
 31  AP_PERMAN   840907 non-null  string
 32  AP_ALTA     840907 non-null  string
 33  AP_TRANSF   840907 non-null  string
 34  AP_DTOCOR   840907 non-null  string
 35  AP_CODEMI   840907 non-null  string
 36  AP_CATEND   840907 non-null  string
 37  AP_APACANT  840907 non-null  string
 38  AP_UNISOL   840907 non-null  string
 39  AP_DTSOLIC  840907 non-null  string
 40  AP_DTAUT    840907 non-null  string
 41  AP_CIDCAS   840907 non-null  string
 42  AP_CIDPRI   840907 non-null  string
 43  AP_CIDSEC   840907 non-null  string
 44  AP_ETNIA    840907 non-null  string
 45  AM_PESO     840907 non-null  string
 46  AM_ALTURA   840907 non-null  string
 47  AM_TRANSPL  840907 non-null  string
 48  AM_QTDTRAN  840907 non-null  string
 49  AM_GESTANT  840907 non-null  string
 50  AP_NATJUR   840907 non-null  string
dtypes: string(51)
memory usage: 327.2 MB

In [6]:
dfAM

,AP_MVM,AP_CONDIC,AP_GESTAO,AP_CODUNI,AP_AUTORIZ,AP_CMP,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,...,AP_CIDCAS,AP_CIDPRI,AP_CIDSEC,AP_ETNIA,AM_PESO,AM_ALTURA,AM_TRANSPL,AM_QTDTRAN,AM_GESTANT,AP_NATJUR
0,202012,EP,350000,3554481,3520262549474,202012,0604350015,529.80,355030,43,...,0000,I270,0000,,064,175,N,00,N,1023
1,202012,EP,350000,3554481,3520262542148,202012,0604350015,0.00,355030,43,...,0000,I270,0000,,073,164,N,00,N,1023
2,202012,EP,350000,3554538,3520259066830,202012,0604350015,7311.36,355030,43,...,0000,I270,0000,,064,165,N,00,N,1023
3,202012,EP,350000,5450616,3520223574692,202012,0604350015,771.60,351620,43,...,0000,I270,0000,,065,160,N,00,N,1023
4,202012,EP,350000,6055117,3520266203971,202012,0604350015,765.90,354980,43,...,0000,I272,0000,,078,139,N,00,N,1023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840902,202012,EP,350000,2749769,3520253887194,202012,0604320043,0.00,350950,43,...,0000,M060,0000,,060,160,N,00,N,1023
840903,202012,EP,350000,2092999,3520258423209,202012,0604320043,0.00,353870,43,...,0000,M060,0000,,087,174,N,00,N,1023
840904,202012,EP,350000,2747863,3520258043710,202012,0604320043,0.00,354990,43,...,0000,M058,0000,,064,165,N,00,N,1023
840905,202012,EP,350000,2747863,3520258055193,202012,0604320043,0.00,354990,43,...,0000,M058,0000,,065,172,N,00,N,1023
840906,202012,EP,350000,2747863,3520258068767,202012,0604320043,0.00,354990,43,...,0000,M068,0000,,057,159,N,00,N,1023

### Listando Informaçoes Agregadas - IBGE

In [7]:
import pandas as pd
from pysus.online_data import IBGE

import ipywidgets as widgets
%matplotlib inline

In [8]:
## List Available IBGE Surveys Informations

ag = IBGE.list_agregados()
ag

Fetching Data groupings from https://servicodados.ibge.gov.br/api/v3/agregados?

,id,nome,agregados
0,D5,Áreas Urbanizadas,"[{'id': '8418', 'nome': 'Áreas urbanizadas, Lo..."
1,CL,Cadastro Central de Empresas,"[{'id': '1732', 'nome': 'Dados gerais das empr..."
2,CA,Censo Agropecuário,"[{'id': '1278', 'nome': 'Agroindústria rural n..."
3,ME,"Censo Comum do Mercosul, Bolívia e Chile","[{'id': '2059', 'nome': 'Domicílios e Populaçã..."
4,CD,Censo Demográfico,"[{'id': '1301', 'nome': 'Área e Densidade demo..."
...,...,...,...
62,VS,Produção da Extração Vegetal e da Silvicultura,"[{'id': '5930', 'nome': 'Área total existente ..."
63,PO,Produção de Ovos de Galinha,"[{'id': '915', 'nome': 'Número de informantes,..."
64,IO,Produto Interno Bruto dos Municípios,"[{'id': '599', 'nome': 'Índice de Gini do prod..."
65,XE,Projeção da População,"[{'id': '7362', 'nome': 'Esperança de vida ao ..."
66,SI,Sistema Nacional de Pesquisa de Custos e Índic...,"[{'id': '33', 'nome': 'Custo de projeto m², po..."

In [9]:
## Listing Data from Demographic Survey

pd.DataFrame(ag[ag.id=='CM'].agregados.iloc[0])

     id                                               nome
0   479  Chefes de domicílios particulares permanentes ...
1   798  Domicílios particulares ocupados por sexo da p...
2   482  Domicílios particulares permanentes por sexo d...
3   580  Domicílios particulares permanentes, População...
4   579  Domicílios particulares permanentes, População...
5   797    Domicílios recenseados por espécie de domicílio
6   319  Média de moradores por domicílio particular pe...
7   553  Média de moradores por domicílio particular pe...
8   481  Média de moradores por domicílio particular pe...
9   552  Média de moradores por domicílio particular pe...
10  476  Pessoas de 4 anos ou mais de idade por frequên...
11  473  Pessoas de 4 anos ou mais de idade por grupos ...
12  477  Pessoas de 4 anos ou mais que frequentam escol...
13  484  Pessoas não residentes no município de residên...
14  478  Pessoas não residentes no município de residên...
15  794  População recenseada por situação do domicílio...
16  793                                População residente
17  305  População residente em domicílios particulares...
18  475  População residente por grupos de idade, sexo ...
19  472  População residente por idade, forma de declar...
20  480  População residente por relação com o chefe do...

In [10]:
## Listing Population Projections

pd.DataFrame(ag[ag.id=='XE'].agregados.iloc[0])

     id                                               nome
0  7362  Esperança de vida ao nascer e Taxa de mortalid...
1  7360    Indicadores implícitos na projeção da população
2  7358                        População, por sexo e idade
3  7365           Proporção de pessoas, por grupo de idade
4  7363  Taxa específica de fecundidade, por grupo de i...

In [11]:
## Downloading Data 

opts= [(r.nome, int(r.id)) for r in pd.DataFrame(ag[ag.id=='CM'].agregados.iloc[0]).itertuples()]
ds = widgets.Dropdown(
    options=opts,
    value=475,
    description='Number:',
)
display(ds)
IBGE.metadados(ds.value)

Dropdown(description='Number:', index=18, options=(('Chefes de domicílios particulares permanentes por grupos …

{'id': 475,
 'nome': 'População residente por grupos de idade, sexo e situação',
 'URL': 'https://sidra.ibge.gov.br/tabela/475',
 'pesquisa': 'Contagem da População ',
 'assunto': 'Pessoas',
 'periodicidade': {'frequencia': 'anual', 'inicio': 1996, 'fim': 1996},
 'nivelTerritorial': {'Administrativo': ['N102',
   'N1',
   'N10',
   'N2',
   'N8',
   'N9',
   'N6',
   'N3'],
  'Especial': [],
  'IBGE': []},
 'variaveis': [{'id': 93,
   'nome': 'População residente',
   'unidade': 'Pessoas',
   'sumarizacao': []},
  {'id': 1000093,
   'nome': 'População residente - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []}],
 'classificacoes': [{'id': 58,
   'nome': 'Grupo de idade',
   'sumarizacao': {'status': True, 'excecao': []},
   'categorias': [{'id': 0, 'nome': 'Total', 'unidade': None, 'nivel': 0},
    {'id': 1140, 'nome': '0 a 4 anos', 'unidade': None, 'nivel': 1},
    {'id': 1141, 'nome': '5 a 9 anos', 'unidade': None, 'nivel': 1},
    {'id': 1142, 'nome': '10 a 14 anos', 'unidade': None, 'nivel': 1},
    {'id': 1143, 'nome': '15 a 19 anos', 'unidade': None, 'nivel': 1},
    {'id': 1144, 'nome': '20 a 24 anos', 'unidade': None, 'nivel': 1},
    {'id': 1145, 'nome': '25 a 29 anos', 'unidade': None, 'nivel': 1},
    {'id': 1146, 'nome': '30 a 34 anos', 'unidade': None, 'nivel': 1},
    {'id': 1147, 'nome': '35 a 39 anos', 'unidade': None, 'nivel': 1},
    {'id': 1148, 'nome': '40 a 44 anos', 'unidade': None, 'nivel': 1},
    {'id': 1149, 'nome': '45 a 49 anos', 'unidade': None, 'nivel': 1},
    {'id': 1150, 'nome': '50 a 54 anos', 'unidade': None, 'nivel': 1},
    {'id': 1151, 'nome': '55 a 59 anos', 'unidade': None, 'nivel': 1},
    {'id': 1152, 'nome': '60 a 64 anos', 'unidade': None, 'nivel': 1},
    {'id': 1153, 'nome': '65 a 69 anos', 'unidade': None, 'nivel': 1},
    {'id': 3244, 'nome': '70 anos ou mais', 'unidade': None, 'nivel': 1},
    {'id': 3245, 'nome': 'Idade ignorada', 'unidade': None, 'nivel': 1}]},
  {'id': 2,
   'nome': 'Sexo',
   'sumarizacao': {'status': True, 'excecao': []},
   'categorias': [{'id': 0, 'nome': 'Total', 'unidade': None, 'nivel': 0},
    {'id': 4, 'nome': 'Homens', 'unidade': None, 'nivel': 1},
    {'id': 5, 'nome': 'Mulheres', 'unidade': None, 'nivel': 1}]},
  {'id': 1,
   'nome': 'Situação do domicílio',
   'sumarizacao': {'status': True, 'excecao': []},
   'categorias': [{'id': 0, 'nome': 'Total', 'unidade': None, 'nivel': 0},
    {'id': 1, 'nome': 'Urbana', 'unidade': None, 'nivel': 1},
    {'id': 2, 'nome': 'Rural', 'unidade': None, 'nivel': 1}]}]}

In [20]:
IBGE.lista_periodos(475)

     id literals modificacao
0  1996   [1996]  24/05/2005

In [22]:
IBGE.localidades_por_agregado(475,nivel='N3')

    id                 nome                                         nivel
0   11             Rondônia  {'id': 'N3', 'nome': 'Unidade da Federação'}
1   12                 Acre  {'id': 'N3', 'nome': 'Unidade da Federação'}
2   13             Amazonas  {'id': 'N3', 'nome': 'Unidade da Federação'}
3   14              Roraima  {'id': 'N3', 'nome': 'Unidade da Federação'}
4   15                 Pará  {'id': 'N3', 'nome': 'Unidade da Federação'}
5   16                Amapá  {'id': 'N3', 'nome': 'Unidade da Federação'}
6   17            Tocantins  {'id': 'N3', 'nome': 'Unidade da Federação'}
7   21             Maranhão  {'id': 'N3', 'nome': 'Unidade da Federação'}
8   22                Piauí  {'id': 'N3', 'nome': 'Unidade da Federação'}
9   23                Ceará  {'id': 'N3', 'nome': 'Unidade da Federação'}
10  24  Rio Grande do Norte  {'id': 'N3', 'nome': 'Unidade da Federação'}
11  25              Paraíba  {'id': 'N3', 'nome': 'Unidade da Federação'}
12  26           Pernambuco  {'id': 'N3', 'nome': 'Unidade da Federação'}
13  27              Alagoas  {'id': 'N3', 'nome': 'Unidade da Federação'}
14  28              Sergipe  {'id': 'N3', 'nome': 'Unidade da Federação'}
15  29                Bahia  {'id': 'N3', 'nome': 'Unidade da Federação'}
16  31         Minas Gerais  {'id': 'N3', 'nome': 'Unidade da Federação'}
17  32       Espírito Santo  {'id': 'N3', 'nome': 'Unidade da Federação'}
18  33       Rio de Janeiro  {'id': 'N3', 'nome': 'Unidade da Federação'}
19  35            São Paulo  {'id': 'N3', 'nome': 'Unidade da Federação'}
20  41               Paraná  {'id': 'N3', 'nome': 'Unidade da Federação'}
21  42       Santa Catarina  {'id': 'N3', 'nome': 'Unidade da Federação'}
22  43    Rio Grande do Sul  {'id': 'N3', 'nome': 'Unidade da Federação'}
23  50   Mato Grosso do Sul  {'id': 'N3', 'nome': 'Unidade da Federação'}
24  51          Mato Grosso  {'id': 'N3', 'nome': 'Unidade da Federação'}
25  52                Goiás  {'id': 'N3', 'nome': 'Unidade da Federação'}
26  53     Distrito Federal  {'id': 'N3', 'nome': 'Unidade da Federação'}

In [23]:
ds = IBGE.FetchData(475,periodos=1996,variavel=93,localidades='N3[all]',
                              classificacao='58[all]|2[4,5]|1[all]',view='flat')
ds.JSON[0]

Fetching https://servicodados.ibge.gov.br/api/v3/agregados/475/periodos/1996/variaveis/93?localidades=N3[all]&classificacao=58[all]|2[4,5]|1[all]&view=flat

{'NC': 'Nível Territorial (Código)',
 'NN': 'Nível Territorial',
 'MC': 'Unidade de Medida (Código)',
 'MN': 'Unidade de Medida',
 'V': 'Valor',
 'D1C': 'Unidade da Federação (Código)',
 'D1N': 'Unidade da Federação',
 'D2C': 'Ano (Código)',
 'D2N': 'Ano',
 'D3C': 'Variável (Código)',
 'D3N': 'Variável',
 'D4C': 'Grupo de idade (Código)',
 'D4N': 'Grupo de idade',
 'D5C': 'Sexo (Código)',
 'D5N': 'Sexo',
 'D6C': 'Situação do domicílio (Código)',
 'D6N': 'Situação do domicílio'}

In [24]:
ds.to_dataframe()

,NC,NN,MC,MN,V,D1C,D1N,D2C,D2N,D3C,D3N,D4C,D4N,D5C,D5N,D6C,D6N
0,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Unidade da Federação (Código),Unidade da Federação,Ano (Código),Ano,Variável (Código),Variável,Grupo de idade (Código),Grupo de idade,Sexo (Código),Sexo,Situação do domicílio (Código),Situação do domicílio
1,3,Unidade da Federação,45,Pessoas,633594,11,Rondônia,1996,1996,93,População residente,0,Total,4,Homens,0,Total
2,3,Unidade da Federação,45,Pessoas,380119,11,Rondônia,1996,1996,93,População residente,0,Total,4,Homens,1,Urbana
3,3,Unidade da Federação,45,Pessoas,253475,11,Rondônia,1996,1996,93,População residente,0,Total,4,Homens,2,Rural
4,3,Unidade da Federação,45,Pessoas,595712,11,Rondônia,1996,1996,93,População residente,0,Total,5,Mulheres,0,Total
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2750,3,Unidade da Federação,45,Pessoas,1073,53,Distrito Federal,1996,1996,93,População residente,3245,Idade ignorada,4,Homens,1,Urbana
2751,3,Unidade da Federação,45,Pessoas,94,53,Distrito Federal,1996,1996,93,População residente,3245,Idade ignorada,4,Homens,2,Rural
2752,3,Unidade da Federação,45,Pessoas,1381,53,Distrito Federal,1996,1996,93,População residente,3245,Idade ignorada,5,Mulheres,0,Total
2753,3,Unidade da Federação,45,Pessoas,1286,53,Distrito Federal,1996,1996,93,População residente,3245,Idade ignorada,5,Mulheres,1,Urbana
2754,3,Unidade da Federação,45,Pessoas,95,53,Distrito Federal,1996,1996,93,População residente,3245,Idade ignorada,5,Mulheres,2,Rural

### Using SIDRA Endpoint

In [25]:
# IBGE also has a simpler API at https://api.sidra.ibge.gov.br that PySUS also gives access through 
# a simple function. Below we have table 200, which is a sample from the resident population. 
# classification 2 is sex, of which I am fetching all categories: total, Homens, and Mulheres. 
# Terrotorial level 6 is municipality.


df = IBGE.get_sidra_table(200,territorial_level=6,classification=2, categories='all')
df

Requesting data from https://apisidra.ibge.gov.br/values/t/200/n6/all/c2/all

,NC,NN,MC,MN,V,D1C,D1N,D2C,D2N,D3C,D3N,D4C,D4N,D5C,D5N,D6C,D6N
0,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Município (Código),Município,Sexo (Código),Sexo,Ano (Código),Ano,Variável (Código),Variável,Situação do domicílio (Código),Situação do domicílio,Grupo de idade (Código),Grupo de idade
1,6,Município,45,Pessoas,24392,1100015,Alta Floresta D'Oeste - RO,0,Total,2010,2010,93,População residente,0,Total,0,Total
2,6,Município,45,Pessoas,12656,1100015,Alta Floresta D'Oeste - RO,4,Homens,2010,2010,93,População residente,0,Total,0,Total
3,6,Município,45,Pessoas,11736,1100015,Alta Floresta D'Oeste - RO,5,Mulheres,2010,2010,93,População residente,0,Total,0,Total
4,6,Município,45,Pessoas,90353,1100023,Ariquemes - RO,0,Total,2010,2010,93,População residente,0,Total,0,Total
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16691,6,Município,45,Pessoas,2689,5222302,Vila Propício - GO,4,Homens,2010,2010,93,População residente,0,Total,0,Total
16692,6,Município,45,Pessoas,2456,5222302,Vila Propício - GO,5,Mulheres,2010,2010,93,População residente,0,Total,0,Total
16693,6,Município,45,Pessoas,2570160,5300108,Brasília - DF,0,Total,2010,2010,93,População residente,0,Total,0,Total
16694,6,Município,45,Pessoas,1228880,5300108,Brasília - DF,4,Homens,2010,2010,93,População residente,0,Total,0,Total
16695,6,Município,45,Pessoas,1341280,5300108,Brasília - DF,5,Mulheres,2010,2010,93,População residente,0,Total,0,Total

In [26]:

# Suppose we just wanted a single municipality, Balneário Rincão (SC): 
# Unfortunately for this one there is no data available, thus the ... in the column Valor. 
# Try another one.

single = IBGE.get_sidra_table(200,territorial_level=6, geocode=4220000,period='last',classification=2, categories='all')
single

Requesting data from https://apisidra.ibge.gov.br/values/t/200/n6/4220000/p/last/c2/all

,NC,NN,MC,MN,V,D1C,D1N,D2C,D2N,D3C,D3N,D4C,D4N,D5C,D5N,D6C,D6N
0,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Município (Código),Município,Ano (Código),Ano,Sexo (Código),Sexo,Variável (Código),Variável,Situação do domicílio (Código),Situação do domicílio,Grupo de idade (Código),Grupo de idade
1,6,Município,45,Pessoas,...,4220000,Balneário Rincão (SC),2010,2010,0,Total,93,População residente,0,Total,0,Total
2,6,Município,45,Pessoas,...,4220000,Balneário Rincão (SC),2010,2010,4,Homens,93,População residente,0,Total,0,Total
3,6,Município,45,Pessoas,...,4220000,Balneário Rincão (SC),2010,2010,5,Mulheres,93,População residente,0,Total,0,Total